<extend name="Public/base" />

<block name="body">
<style type="text/css">

.btn_list_1:hover{ background-color:#4BBD00 !important;}
</style>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2 class="btn_h2_style">商品库存往来明细</h2>
	</div>
	<div class="cf">
		

		<div class="fl" id="select_value_id">
		
			<div class="ajax_search_btn_div">
			<span class="ajax_search_btn_span">起始日期</span>
			<input value="{$filter.begin_time|date='Y-m-d',###}" placeholder="请选择时间" class="ajax_search_btn_input time" style="padding:5px"   name="begin_time" type="text" onchange="clean_timetype('time_type');table_order_page(1)">
			</div>
			
			<div class="ajax_search_btn_div">
			<span class="ajax_search_btn_span">截止日期</span>
			<input value="{$filter.end_time|date='Y-m-d',###}" placeholder="请选择时间" class="ajax_search_btn_input time" style="padding:5px"  name="end_time" type="text" onchange="clean_timetype('time_type');table_order_page(1)">
			</div>
			
			<div class="ajax_search_btn_div">
			<a class="btn" href="javascript:;" onclick="change_times('year')">今 年</a>
			
			<a class="btn" href="javascript:;" onclick="change_times('mounth')">本 月</a>

			<a class="btn" href="javascript:;" onclick="change_times('day')">今 天</a>
			
			<a class="btn" href="javascript:;" style="background-color:rgb(35, 59, 19)" onclick="change_times('stage')">本 期</a>
			
			<input type="hidden" id="benqi" value="{$time|default="1970-01-01"}" />
			</div>
			
			
			<input type="hidden" name="type" value="warehouse_log" class="ajax_search_btn_input" />
			
			<input type="hidden" name="goods_id" value="{$filter.goods_id}" class="ajax_search_btn_input" />

        </div>
        <!-- 高级搜索 -->
	

        <!-- 高级搜索 -->
		
    </div>
    <!-- 数据列表 -->
	<div id="guest_list">
    <include file="Default:Ajax:Ledgers:warehouse_log_list" />
	</div>
</block>

<block name="script">
	<script type="text/javascript">
	var url = "{:U('Ledgers/ajax_query')}";
	var APP = "__APP__";
	var URL_JS = "__URL__";
	</script>
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript" src="__JS__/huang.js"/></script>
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
});
</script>
</block>
