<extend name="Public/base"/>
<block name="body">
<link rel="stylesheet" href="__CSS__/style.default.css" type="text/css" />
<link rel="stylesheet" href="__CSS__/order_css.css" type="text/css" />
<link rel="stylesheet" href="__CSS__/font-awesome.min.css" type="text/css" />
<div class="bill-container ng-scope">
<form name="xsckd" id="xsckd" action="{:U('Order/insert')}" method="post">
    <div class="ng-scope" ><div class="bill-header ng-scope">
    <div class="bill-subject">
        <div class="bill-subject-left">
            <div class="subject pull-left">
                <h1>
                    <input value="销售退货单" type="text" style="background: rgb(179, 64, 33) none repeat scroll 0% 0%;color: rgb(255, 255, 255);box-shadow:none">
                </h1>
            </div>
            <div class="company-info pull-left">
                <big class="ng-binding">上海国际雅兰退货单</big>
            </div>
        </div>
    </div>
</div>

<div class="bill-footer-input row">
            <div class="bill-footer-input-item">
                <div class="input-group ng-scope">
				<span class="input-group-addon">录单日期</span>
				<input value="{$time}" placeholder="请选择时间" class="form-control input_widget_datetime ng-pristine ng-untouched ng-valid time" name="add_time" type="text">
				</div>
            </div>
			
			<div class="bill-footer-input-item">
                <div class="input-group ng-scope">
				<span class="input-group-addon">退货单编号</span>
				<span class="form-control input_widget_number ng-pristine ng-untouched ng-valid">{$order_num}</span>
				<input value="{$order_num}" name="order_sn" type="hidden">
				</div>
            </div>
			
		
            <div class="bill-footer-input-item">
                <div class="input-group ng-scope">
				<span class="input-group-addon">收货单位</span>
				<input class="form-control input_widget_number ng-pristine ng-untouched ng-valid" type="text" id="hhhhyu" value="" title="" onblur="check_info(this)" name="gname">
				<input type="hidden" name="guest_id" id="guest_id" value="">
				</div>
            </div>
            <div class="bill-footer-input-item">
                <div class="input-group ng-scope">
				<span class="input-group-addon">入库仓库</span>
				<input class="form-control input_widget_number ng-pristine ng-untouched ng-valid" name="warehouse" type="text" value="上海总部库">
				</div>
            </div>
			
			<div class="bill-footer-input-item">
                <div class="input-group ng-scope">
				<span class="input-group-addon">经手人</span>
				<input class="form-control input_widget_number ng-pristine ng-untouched ng-valid" type="text" id="department_id" value="" title="" onblur="check_info(this)" name="bname">
				<input type="hidden" name="bumen_id" id="bumen_id" value="">
				</div>
            </div>
        </div>
</div>
    <div class="bill-body">
        <div config="bill_config" class="bill-rows ng-isolate-scope">
    <table class="table table-bordered bill-rows-table">
        <thead>
            <tr>
                <th width="60" style="text-align:center"><i class="fa fa-plus" style="cursor: pointer;"></i></th>
                <th class="text-center" width="50">#</th>
                <th style="" class="ng-scope">
                    <label class="ng-binding">商品编号</label>
                </th><th class="ng-scope">
                    <label class="ng-binding">商品全名</label>          
                </th><th class="ng-scope">
                    <label class="ng-binding">规格</label>      
                </th><th class="ng-scope">
                    <label class="ng-binding">数量</label>            
                </th><th class="ng-scope">
                    <label class="ng-binding">单价</label>             
                </th><th class="ng-scope">
                    <label class="ng-binding">金额</label>              
                </th><th style="" class="ng-scope">
                    <label class="ng-binding">开单折扣</label>                 
                </th><th class="ng-scope">
                    <label class="ng-binding">折后单价</label>            
                </th><th class="ng-scope" style="border-right: 1px solid rgb(248, 65, 65);">
                    <label class="ng-binding">折后金额</label>      
                </th>			
				<th style="border: 1px solid #F84141;" class="ng-scope">
                    <label class="ng-binding">过账折扣</label>             
                </th><th class="ng-scope" style="border: 1px solid #F84141;">
                    <label class="ng-binding">过账折后单价</label>           
                </th><th class="ng-scope" style="border: 1px solid #F84141;">
                    <label class="ng-binding">过账折后金额</label>               
                </th>			
            </tr>
        </thead>
        <tbody id="tbody_id" onkeydown="keyDown(event)">
            <tr>
                <td class="text-center">
                    <i class="fa fa-trash-o" style="cursor: pointer;"></i>
                </td>
                <td class="text-center">#<span class="paixu">1</span></td>
                <td class="td_huang">
					<input class="form-control form-huang" type="text" onkeydown="get_goods(event,this)" value="" name="code[]"  onblur="check_info(this)">
                </td>
				<td class="td_huang" style="width: 200px !important;"><input class="form-control form-huang" type="text" name="goodsname[]" value="" onblur="check_info(this)" onkeydown="get_goods(event,this)"/><input type="hidden" name="goods_id[]" value="" /></td>
				<td><span></span><input type="hidden" name="format[]" value="" /></td>
				<td class="td_huang">
                  <input class="form-control form-huang" type="text" name="num[]" value="" onBlur="calculate_money()"/>
                </td>
				<td>
                 <span></span><input type="hidden" name="price[]" value="" />
                </td>
				<td>
                  <span></span><input type="hidden" name="price_total[]" value="" />
                </td>
				<td class="td_huang">
                   <input class="form-control form-huang" type="text" name="zhekou[]" value="" onblur="change_zhekou(this)"/>
                </td>
				<td class="td_huang">
                   <input class="form-control form-huang" type="text" name="z_price[]" value="" onblur="change_zhekou(this)"/>
                </td>
				<td style="border-right: 1px solid rgb(248, 65, 65);">
                 <span></span><input type="hidden" name="z_price_total[]" value="" />
                </td>
				<td class="td_huang" style="border: 1px solid rgb(248, 65, 65);">
                   <input class="form-control form-huang_new" type="text" name="g_zhekou[]" value="" onblur="change_zhekou(this)"/>
                </td>
				<td class="td_huang" style="border: 1px solid rgb(248, 65, 65);">
                   <input class="form-control form-huang_new" type="text" name="g_z_price[]" value="" onblur="change_zhekou(this)"/>
                </td>
				<td style="border: 1px solid rgb(248, 65, 65);">
                 <span class="form-huang_new"></span><input type="hidden" name="g_z_price_total[]" value="" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
               <td colspan="2" align="center"><strong class="ng-binding">合计</strong></td>
               <td class="ng-scope"></td>
			   <td class="ng-scope"></td>
			   <td class="ng-scope"></td>
			   <td class="ng-scope">
			   <span id="total_num"></span><input type="hidden" name="total_num" id="total_num_input" value="" />
			   </td>
			   <td class="ng-scope"></td>
			   <td class="ng-scope">
			   <span id="total_s_price"></span><input type="hidden" name="total_s_price" id="total_s_price_input" value="" />
			   </td>
			   <td class="ng-scope td_huang" ><input class="form-control form-huang_new" type="text" onblur="set_all_zhekou(this)" h-name="zhekou"></td>
			   <td class="ng-scope" ></td>
			   <td class="ng-scope"  style="border-right: 1px solid rgb(248, 65, 65);">
			   <span id="total_s_z_price"></span><input type="hidden" name="total_s_z_price" id="total_s_z_price_input" value="" />
			   </td>
			   <td class="ng-scope td_huang" style="border: 1px solid rgb(248, 65, 65);"><input class="form-control form-huang_new" type="text" onblur="set_all_zhekou(this)" h-name="g_zhekou"></td>
			   <td class="ng-scope" style="border: 1px solid rgb(248, 65, 65);"></td>
			   <td class="ng-scope" style="border: 1px solid rgb(248, 65, 65);">
			   <span id="total_s_g_z_price"></span><input type="hidden" name="total_s_g_z_price" id="total_s_g_z_price_input" value="" />
			   </td>
            </tr>
        </tfoot>
    </table>
</div>
    </div>
    <div class="bill-footer">

        <div class="bill-footer-input row">
            <div class="input-group bill-footer-input-item" style="width: auto">
                <span class="input-group-addon ng-binding">备注</span>
                <input class="form-control ng-pristine ng-untouched ng-valid" name="remarks" value="" type="text">
            </div>
        </div>

        <div class="bill-footer-meta">
            <span class="label label-primary">
                <span class="ng-binding">制单人</span>
                <span class="ng-binding">TEam Swift
 管理员</span>
            </span>
            <div class="pull-right">
                <input type="hidden" value="2"name="order_type"/>
				<input type="button" value="提交" onclick="form_submit()"  class="btn btn-primary btn-lg ng-binding"/>
            </div>
        </div>

    </div>
	</form>
</div>
</block>
<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

Think.setValue("type", {$data.type|default='""'});
Think.setValue("display", {$data.display|default=0});

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();

});
</script>
<script type="text/javascript">
var URL_JS = "__URL__";
</script>
<script type="text/javascript" src="__JS__/order_huang.js"/></script>
</block>
