/***
 * Created by: Mienard Lumaad
 * Date: May 15, 2012
 * Website: http://themepixels.com/
***/






/***** 9. HORIZONTAL NAVIGATION STYLES *****/
/*******************************************/


.hornav { list-style: none; margin-top: 15px; border-bottom: 1px solid #ccc; padding: 0 10px; height: 41px; }
.hornav li { display: inline-block; float: left; margin-right: 5px; }
.hornav li a { 
	display: block; padding: 10px 20px; background: #ccc; color: #fff; font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif; 
	text-transform: uppercase; font-size: 14px; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0;
	border: 1px solid #ccc; border-bottom: 0; 
}
.hornav li a:hover { background: #bbb; border-color: #aaa; }
.hornav li.current a { background: #fff; color: #FB9337; }
.hornav li.current a:hover { border-color: #ccc; }

.editornav { list-style: none; margin-top: 15px; border-bottom: 1px solid #ccc; padding: 0 20px; height: 41px; }
.editornav li { display: inline-block; }
.editornav li a { 
	display: block; padding: 10px 20px; background: #ccc; color: #fff; font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif; 
	text-transform: uppercase; font-size: 14px; -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0;
	border: 1px solid #ccc; border-bottom: 0; cursor: pointer;
}
.editornav li a:hover { background: #bbb; border-color: #aaa; }
.editornav li.current a { background: #fff; color: #FB9337; }
.editornav li.current a:hover { border-color: #ccc; }


/***** 10. VERTICAL NAVIGATION STYLES *****/
/******************************************/






/***** 11. CENTER CONTENT STYLES *****/
/*************************************/




/***** 12. MAIN CONTENT STYLES *****/
/***********************************/






/***** 13. DASHBOARD STYLES *****/
/********************************/




/***** 14. FILE MANAGER STYLES *****/
/***********************************/




/***** 15. RIGHT PANEL STYLES *****/
/**********************************/





/***** 16. WIDGET BOX STYLES *****/
/*********************************/




/***** 17. CONTENT SLIDER STYLES *****/
/*************************************/




/***** 18. CALENDAR STYLES *****/
/*******************************/




/***** 19. STANDARD TABLES STYLES *****/
/**************************************/





/***** 20. STANDARD FORM STYLES *****/
/************************************/


form input[type=text] { 
	padding: 8px 5px; border: 1px solid #ccc; width: 85%; -moz-border-radius: 2px; -webkit-border-radius: 2px; 
	border-radius: 2px; background: #fcfcfc; vertical-align: middle; -moz-box-shadow: inset 0 1px 3px #ddd; 
	-webkit-box-shadow: inset 0 1px 3px #ddd; box-shadow: inset 0 1px 3px #ddd; color: #666;
}
form input:focus { 
	background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee;
}
form textarea { 
	padding: 6px 5px; border: 1px solid #ccc; width: 85%; -moz-border-radius: 2px; -webkit-border-radius: 2px; 
	border-radius: 2px; -moz-box-shadow: inset 0 1px 3px #ddd; -webkit-box-shadow: inset 0 1px 3px #ddd;
	box-shadow: inset 0 1px 3px #ddd; background: #fcfcfc; color: #666; 
}
form input[type=radio], .stdform input[type=checkbox] { width: auto; margin: 0; vertical-align: middle; }
form input[type=submit] { 
	width: auto; margin: 0; font-weight: bold; color: #eee; background: #FB9337; border: 1px solid #F0882C; padding: 7px 10px; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor: pointer; -moz-border-radius: 2px; -webkit-border-radius: 2px;
	border-radius: 2px;
}
form input[type=submit]:hover { background: #485B79; border: 1px solid #3f526f; }
form input[type=reset] {
	width: auto; margin: 0; font-weight: bold; color: #666; border: 1px solid #ccc; background: #eee; padding: 7px 10px;	
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; margin-left: 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
	border-radius: 2px;
}
form input[type=reset]:hover { background: #ddd; cursor: pointer; color: #333; }
form select { 
	border: 1px solid #ccc; padding: 5px 2px; min-width: 40%; background: #fcfcfc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; 
	-moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666;
}
form textarea:focus, form select:focus { 
	background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee; 
}

form button { border: 1px solid #f0882c; background: #fb9337; color: #fff; cursor: pointer; padding: 7px 10px; font-weight: bold; }
form button.submit:hover { background: #485B79; border: 1px solid #3f526f; color: #fff; }
form button:active { 
	-moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); 
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

form input.smallinput, form textarea.smallinput { width: 40%; }
form input.mediuminput, form textarea.mediuminput { width: 60%; }
form input.longinput, form textarea.longinput { width: 85%; }
form input.error { border: 1px solid #f00; }
form textarea.error { border: 1px solid #f00; }
form textarea.error { border: 1px solid #f00; }
form select.error { border: 1px solid #f00; }
form label.error { float: none; color: #f00; font-size: 11px; display: block; text-align: left; font-weight: bold; }

.stdform p, .stdform div.par { margin: 20px 0; }
.stdform div.par { overflow: hidden; }
.stdform span.field, .stdform div.field { margin-left: 220px; display: block; position: relative; }
.stdform .formwrapper { display: block; padding-top: 5px; margin-left: 220px; line-height: 25px; }
.stdform label { float: left; width: 200px; text-align: right; padding: 5px 20px 0 0; }

.stdform button.cancel { background: #eee; color: #666; border: 1px solid #ddd; }
.stdform button.cancel:hover { background: #ddd; border: 1px solid #ccc; }
.stdform button.cancel:active { 
	-moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7); -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7); 
	box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.stdform small.desc { font-size: 11px; color: #999; font-style: italic; display: block; margin: 5px 0 0 220px; }
.stdform .stdformbutton { margin-left: 220px; }

.btn_anniu{
width:100px; margin: 0; font-weight: bold; color: #eee; background: #FB9337; border: 1px solid #F0882C; padding: 7px 10px; 
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor: pointer; -moz-border-radius: 2px; -webkit-border-radius: 2px;
  border-radius: 2px;

}

