<extend name="Public/basechild"/>
<block name="body">
<link rel="stylesheet" href="__CSS__/style.default.css" type="text/css" />
<link rel="stylesheet" href="__CSS__/order_css.css" type="text/css" />
<link rel="stylesheet" href="__CSS__/font-awesome.min.css" type="text/css" />
<div class="bill-container ng-scope" style="width: 680px;margin:100px auto;">
<form name="xsckd" id="xsckd" action="{:U('Giro/insert')}" method="post">
    <div class="ng-scope" ><div class="bill-header ng-scope">
    <div class="bill-subject">
        <div class="bill-subject-left">
            <div class="subject pull-left">
                <h1>
                    <input value="资金转账单" type="text" style="background: rgb(33, 179, 61) none repeat scroll 0% 0%;color: rgb(255, 255, 255);box-shadow:none">
                </h1>
            </div>
            <div class="company-info pull-left">
                <big class="ng-binding">上海国际雅兰资金转账单</big>
            </div>
        </div>
    </div>
</div>

<div class="bill-footer-input row">
            <div class="bill-footer-input-item">
                <div class="input-group ng-scope">
				<span class="input-group-addon">录单日期</span>
				<input value="{$order_info.add_time|date='Y-m-d H:i',###}" placeholder="请选择时间" class="form-control input_widget_datetime ng-pristine ng-untouched ng-valid time" name="add_time" type="text">
				</div>
            </div>
			
			<div class="bill-footer-input-item">
                <div class="input-group ng-scope">
				<span class="input-group-addon">单据编号</span>
				<span class="form-control input_widget_number ng-pristine ng-untouched ng-valid">{$order_info.order_sn}</span>
				<input value="{$order_info.order_sn}" name="order_sn" type="hidden">
				</div>
            </div>
			
			
			
        </div>
</div>
    <div class="bill-body">
        <div config="bill_config" class="bill-rows ng-isolate-scope">
    <table class="table table-bordered bill-rows-table">
        <thead>
            <tr>
               
                <th class="text-center" width="50">#</th>
                <th class="ng-scope" >
                    <label class="ng-binding">转出账户</label>      
                </th><th class="ng-scope" >
                    <label class="ng-binding">转入账户</label>         
                </th><th class="ng-scope" >
                    <label class="ng-binding">金额</label>    
                </th>
				<th class="ng-scope" >
                    <label class="ng-binding">描述</label>      
                </th>
					
            </tr>
        </thead>
        <tbody id="tbody_id" onkeydown="keyDown(event)">
            <tr>
               
                <td class="text-center">#<span class="paixu">1</span></td>
                <td class="td_huang">
					<input class="form-control form-huang" type="text"  onkeydown="enter_up(this,'omoney')" value="{$order_info.out_cname}" title="{$order_info.out_cname}" name="out_cname"  onblur="check_info(this)">
					<input type="hidden" name="out_cid" value="{$order_info.out_cid}">
                </td>
				<td class="td_huang">
				<input class="form-control form-huang" type="text" name="in_cname" value="{$order_info.in_cname}" title="{$order_info.in_cname}" onblur="check_info(this)"  onkeydown="enter_up(this,'omoney')"/>
				<input type="hidden" name="in_cid" value="{$order_info.in_cid}"/>
				</td>
				
				<td class="td_huang">
                  <input class="form-control form-huang" type="text" name="money" value="{$order_info.money}"/>
                </td>
				
				<td class="td_huang">
                  <input class="form-control form-huang" type="text" name="purpose" value="{$order_info.purpose}"/>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
               <td colspan="1" align="center"><strong class="ng-binding">合计</strong></td>
               <td class="ng-scope"></td>
			   <td class="ng-scope"></td>
			   <td class="ng-scope"></td>
			  
			   
			  
            </tr>
        </tfoot>
    </table>
</div>
    </div>
    <div class="bill-footer">
        <div class="bill-footer-input row">
            <div class="input-group bill-footer-input-item" style="width: auto">
                <span class="input-group-addon ng-binding">备注</span>
                <input class="form-control ng-pristine ng-untouched ng-valid" name="remarks" value="{$order_info.remarks}" type="text">
            </div>
        </div>

        <div class="bill-footer-meta">
            <span class="label label-primary">
                <span class="ng-binding">制单人</span>
                <span class="ng-binding">TEam Swift
 管理员</span>
            </span>
            <div class="pull-right">
                <input type="hidden" value="14"name="order_type"/>
				<input type="hidden" value="{$order_info.id}"name="id"/>
				<input type="button" value="提交" onclick="form_submit('{:U('insert')}','{:U('orderlist')}',2)"  class="btn btn-primary btn-lg ng-binding"/>
            </div>
        </div>

    </div>
	</form>
</div>

    
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">

Think.setValue("type", {$data.type|default='""'});
Think.setValue("display", {$data.display|default=0});

$('#submit').click(function(){
	$('#form').submit();
});

$(function(){
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });

});
</script>
<script type="text/javascript">
var URL_JS = "__URL__";
var APP = "__APP__";
</script>
<script type="text/javascript" src="__JS__/order.js"/></script>

<script type="text/javascript">
function call_back(data)
{
	//有data-selected的input赋值
	$('.data-selected').val(data.name);
	$('.data-selected').attr('title',data.name);
	$('.data-selected').parent().find('input').eq(1).val(data.id);
	
}
</script>
</block>
