<extend name="Public/base" />

<block name="body">
<style type="text/css">

.btn_list_1:hover{ background-color:#4BBD00 !important;}
</style>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2 class="btn_h2_style">客户列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('add')}">新 增</a>
            
        </div>

		<div class="fl" id="select_value_id">
		
			<div class="ajax_search_btn_div">
			<span class="ajax_search_btn_span">客户类型</span>
			<select id="calculation" class="ajax_search_btn_input" style="height:30px;border-radius:0px;min-width:100px;outline:none;" onchange="table_order_page(1)"  name="stus">                   
									  <option value="1" selected = "selected">已合作客户</option>
									  <option value="2">休眠客户</option>
									  <option value="0">未合作客户</option>				     
									</select>
			
			</div>
			
			<div class="ajax_search_btn_div">
			<span class="ajax_search_btn_span">部门筛选</span>
			<input class="ajax_search_btn_input" style="padding:5px" type="text" id="department_id" value="{$bname}" title="{$bname}" onblur="check_info(this)" onkeydown="enter_up(this,'bumen')">
				<input class="ajax_search_btn_input" type="hidden" name="bumen_id" id="bumen_id" value="{$filter.bumen_id}">
			
			</div>
			
			<div class="search-form fr cf" >
			<div class="sleft">
				<input type="text" name="keywords" class="ajax_search_btn_input search-input" value="" placeholder="请输入用户昵称或者ID" >
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('ajax_query')}"><i class="btn-search"></i></a>
			</div>
		    </div>
			
			
        </div>
        <!-- 高级搜索 -->
	

        <!-- 高级搜索 -->
		
    </div>
    <!-- 数据列表 -->
	<div id="guest_list">
    <include file="Default:Ajax:guest_list" />
	</div>
</block>

<block name="script">
	<script type="text/javascript">
	//分页url
	var url = "{:U('Guest/ajax_query')}";
	var APP = "__APP__";
	</script>
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript" src="__JS__/huang.js"/></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		table_order_page(1);
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	
	//修改客户资料弹出框
	function edit_guest(obj)
	{
	 //iframe层
	  var url = "__URL__/changeguest/id/"+obj;
		layer.open({
			type: 2,
			title: '修改客户资料',
			shadeClose: false,
			shade: 0.8,
			shift:5,
			area: ['950px', '800px'],
			content: url //iframe的url
		}); 
	
	}
	
	//未合作已合作相互转换
	function no_guest(obj,oaj)
	{
	  var url = "{:U('Guest/changegueststyle')}";
	  layer.confirm('确定修改吗？',function(index)
	  {
	    $.ajax({
		type:'POST',
		data:{'id':obj,stus:oaj},
		url:url,
		success:function(data)
			{
			  if(data.status)
			  {
				  layer.msg(data.info,{icon:1,time: 1000});
				  table_order_page(0);
			  }else
			  {
				  if(1 == data.info)
				  {
					$.ajax({
					type:'post',
					data:{'gid':obj},
					url:"{:U('Guest/select_uidbid')}",
					success:function(data)
					{
						if(data)
						{
							var str = '<form method="post" action="" name="tbform" id="tbform">';
							
							for(var i=0;i<data.length;i++)
							{
								str += '<dl class="checkmod" style="border:none;border-bottom: 1px solid #ebebeb;margin-bottom:0px">';
			
								str += '<dd class="bd" style="padding-left:30px">';
									
								str += '<div class="rule_check"><div>';
								
								str += '<label class="checkbox">';
								
								if(data[i]['gbid'])
								{
									if(data[i]['show'])
									{
										str += '<input class="auth_rules rules_row" type="checkbox" checked="true" name="bid[]" value="'+data[i]['id']+'" data-name="'+data[i]['bname']+'"/>'+data[i]['title_show'];
									}else
									{
										str += '<input class="auth_rules rules_row" type="checkbox" disabled="" checked="true" name="bid[]" value="'+data[i]['id']+'" data-name="'+data[i]['bname']+'"/>'+data[i]['title_show'];
									}
								
									str += '<input type="hidden" name="ubid[]" value="'+data[i]['gbid']+'"/>';
								}else
								{
									if(data[i]['show'])
									{
										str += '<input class="auth_rules rules_row" type="checkbox" name="bid[]" value="'+data[i]['id']+'" data-name="'+data[i]['bname']+'"/>'+data[i]['title_show'];
									}else
									{
										str += '<input class="auth_rules rules_row" type="checkbox" disabled="" name="bid[]" value="'+data[i]['id']+'" data-name="'+data[i]['bname']+'"/>'+data[i]['title_show'];
									}
								}
										
								str += '</label></div></div>';
			
								str += '</dd></dl>';
			
							}
							
							str += '<input type="hidden" name="uid" value="'+obj+'"></form>';
							
							layer.open({
								type:1,
								title: '军团管理权限',
								shadeClose: false,
								shade: 0.8,
								shift:5,
								area: ['380px', '600px'],
								skin: 'demo-huang',
								btn: ['确认'],
								success: function(layero, index){
									//获取页面现存部门id
									$('#gbumen_id').find('input[name="gbid[]"]').each(function(){
									
										var that = this;
										$('#tbform').find('input[name="bid[]"]').each(function(){
										//形成数据插入页面
											if($(that).val() == $(this).val())
											{
												$(this).attr("checked","checked");
											}
										});
									}); 
								},
								yes: function(index, layero){
									//提交到后台
									var bid_arr = new Array();
									
									$('#tbform').find('input[name="bid[]"]').each(function(){
									
										//形成数据插入页面
										if($(this).prop('checked'))
										{
											bid_arr.push($(this).val());
										}	 
									
									});
									 
									if(bid_arr.length <= 0)
									{
										layer.msg('请选择所属部门！',{icon:2,time:1000});
										return false;
									}
									
									insert_select(obj,oaj,bid_arr);
									
									layer.close(index); //如果设定了yes回调，需进行手工关闭
									
									
									
								},
								content: str //iframe的url
							});
						}
					},
					error:function()
					{
						alert('传输错误');
					}
					});
				  }else
				  {
				      layer.msg(data.info,{icon:2,time: 3000});
				  }
				  
				  
				  
				  
			  }
			}					
		});	  
	  })
	
	}
	
	function insert_select(obj,oaj,ocj)
	{
  
	   var url = "{:U('Guest/changegueststyle')}";
	  
	  $.ajax({
		type:'POST',
		data:{'id':obj,stus:oaj,bid_arr:ocj},
		url:url,
		success:function(data)
			{
			  if(data.status)
			  {
				  layer.closeAll();
				  layer.msg(data.info,{icon:1,time: 1000});
				  table_order_page(0);
			  }else
			  {			  
				  layer.closeAll();
				  layer.msg(data.info,{icon:2,time: 3000});	  
			  }
			}					
		});	  
	  
	
	}
	
	function call_back(obj)
	{
	 	//回调函数赋值到页面
		$('#department_id').val(obj.name);
		$('#department_id').attr('title',obj.name);
		$('#bumen_id').val(obj.id);
		table_order_page(1);
	}
	
	</script>
</block>
