<extend name="Public/base" />

<block name="body">
<style type="text/css">

.btn_list_1:hover{ background-color:#4BBD00 !important;}
</style>
	<!-- 标题栏 -->
	<div class="main-title">
		<h2 class="btn_h2_style">客户列表</h2>
	</div>
	<div class="cf">
		<div class="fl">
            <a class="btn" href="{:U('add')}">新 增</a>
            
        </div>

		<div class="fl" id="select_value_id">
		
			<div class="ajax_search_btn_div">
			<span class="ajax_search_btn_span">客户类型</span>
			<select id="calculation" class="ajax_search_btn_input" style="height:30px;border-radius:0px;min-width:100px;outline:none;" onchange="table_order_page(1)"  name="stus">                   
									  <option value="1" selected = "selected">已合作客户</option>
									  <option value="2">休眠客户</option>
									  <option value="0">未合作客户</option>				     
									</select>
			
			</div>
			
			<div class="ajax_search_btn_div">
			<span class="ajax_search_btn_span">部门筛选</span>
			<input class="ajax_search_btn_input" style="padding:5px" type="text" id="department_id" value="" title="" onblur="check_info(this)" onkeydown="enter_up(this,'bumen')">
				<input class="ajax_search_btn_input" type="hidden" name="bumen_id" id="bumen_id" value="">
			
			</div>
			
			<div class="search-form fr cf" >
			<div class="sleft">
				<input type="text" name="keywords" class="ajax_search_btn_input search-input" value="" placeholder="请输入用户昵称或者ID" >
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('ajax_query')}"><i class="btn-search"></i></a>
			</div>
		    </div>
			
			
        </div>
        <!-- 高级搜索 -->
	

        <!-- 高级搜索 -->
		
    </div>
    <!-- 数据列表 -->
	<div id="guest_list">
    <include file="Default:Ajax:guest_list" />
	</div>
</block>

<block name="script">
	<script type="text/javascript">
	//分页url
	var url = "{:U('Guest/ajax_query')}";
	var APP = "__APP__";
	</script>
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript" src="__JS__/huang.js"/></script>

	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		table_order_page(1);
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	
	//修改客户资料弹出框
	function edit_guest(obj)
	{
	 //iframe层
	  var url = "__URL__/changeguest/id/"+obj;
		layer.open({
			type: 2,
			title: '修改客户资料',
			shadeClose: false,
			shade: 0.8,
			shift:5,
			area: ['900px', '800px'],
			content: url //iframe的url
		}); 
	
	}
	
	//未合作已合作相互转换
	function no_guest(obj,oaj)
	{
	  var url = "{:U('Guest/changegueststyle')}";
	  layer.confirm('确定修改吗？',function(index)
	  {
	    $.ajax({
		type:'POST',
		data:{'id':obj,stus:oaj},
		url:url,
		success:function(data)
			{
			  if(data.status)
			  {
				  layer.msg(data.info,{icon:1,time: 1000});
				  table_order_page(0);
			  }else
			  {
				  if(1 == data.info)
				  {
					var _str =  '<div class="fl" style="margin: 20px;" id="sssert"><div class="ajax_search_btn_div"><span class="ajax_search_btn_span">所属军团</span><select class="ajax_search_btn_input" style="height:30px;border-radius:0px;min-width:100px;outline:none;" onchange="select_bumen(this)" name="stus"><option value="0" >请选择军团</option><option value="1" >1军团</option><option value="2">2军团</option><option value="3">3军团</option><option value="4" >4军团</option><option value="5">5军团</option><option value="6">6军团</option><option value="7" >教育部</option><option value="8">总部</option></select></div><div class="ajax_search_btn_div"><span class="ajax_search_btn_span">所属部门</span><select class="ajax_search_btn_input" style="height:30px;border-radius:0px;min-width:100px;outline:none;" id="sdfg" ><option value="0" selected="selected">请选择部门</option></select></div><div style="text-align: center; margin-top: 60px;"><a class="btn_list_1" href="javascript:;" onclick="insert_select()">确认</a></div></div>';
					
					_str += '<input id="guest_id_hh" type="hidden" value="'+obj+'">';
					  
					  
					  
					  
					//  var _str = '<select id="calculation" class="ajax_search_btn_input" style="height:30px;border-radius:0px;min-width:100px;outline:none;" onchange="table_order_page(1)"  name="stus">';
					 //     _str += '<option value="1" selected = "selected">已合作客户</option>';
					//	  _str += '<option value="2">休眠客户</option>';
					//	  _str += '<option value="0">未合作客户</option>';
					//	  _str += '</select>';
					  
					  layer.open({
							type: 1,
							skin: 'layui-layer-demo', //加上边框
							area: ['430px', '180px'], //宽高
							content: _str
					  });
				  }else
				  {
				      layer.msg(data.info,{icon:2,time: 3000});
				  }
				  
				  
				  
				  
			  }
			}					
		});	  
	  })
	
	}
	
	function select_bumen(obj)
	{
	  
	  var url = "{:U('Guest/select_bumen')}";
	  $.ajax({
	  type:'POST',
	  url:url,
	  data:{tid:obj.value},
	  success:function(data)
	  {
	    var stre = '<option value="0" selected="selected">请选择部门</option>';
		for(i=0;i<data.info.length;i++)
		{
		  stre += '<option value="'+data.info[i]['bid']+'">'+data.info[i]['bname']+'</option>';
		}
		
		$('#sdfg').html(stre);
	  },
	  error:function(data)
	  {
	    alert('信息传输错误');
	  }
	  
	  
	  
	  });
	
	}
	
	function insert_select()
	{
	  var tid = $('#sssert').find('select').eq(0).val();
	  
	  var bid = $('#sssert').find('select').eq(1).val();
	  
	  var guest_id = $('#guest_id_hh').val();
	  
	   var url = "{:U('Guest/changegueststyle')}";
	  
	  if(0 == tid || 0 == bid)
	  {
	    layer.msg('请选择军团或部门！',{icon:2,time: 1000});
		return false;
	  }
	  
	  $.ajax({
		type:'POST',
		data:{'id':guest_id,stus:2,tid:tid,bid:bid},
		url:url,
		success:function(data)
			{
			  if(data.status)
			  {
				  layer.closeAll();
				  layer.msg(data.info,{icon:1,time: 1000});
				  table_order_page(0);
			  }else
			  {
				  if(1 == data.info)
				  {
					  
					  layer.open({
							type: 1,
							skin: 'layui-layer-demo', //加上边框
							area: ['430px', '180px'], //宽高
							content: _str
					  });
				  }else
				  {
				      layer.closeAll();
					  layer.msg(data.info,{icon:2,time: 3000});
				  }
				  
				  
				  
				  
			  }
			}					
		});	  
	  
	
	}
	
	function call_back(obj)
	{
	 	//回调函数赋值到页面
		$('#department_id').val(obj.name);
		$('#department_id').attr('title',obj.name);
		$('#bumen_id').val(obj.id);
		table_order_page(1);
	}
	
	</script>
</block>
