<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>仓库商品金额</h2>
	</div>
    <!-- 数据列表 -->
	<div id="guest_list">
    <include file="Default:Ajax:Inventory:goods_list" />
	</div>
</block>

<block name="script">
	<script type="text/javascript">
	var url = "{:U('Inventory/ajax_query')}";
	var APP = "__APP__";
	var URL_JS = "__URL__";
	</script>
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript" src="__JS__/huang.js"/></script>

</block>
